/* Global styles */
body {
    background-color: #121212; /* Dark background for the entire page */
    color: #e0e0e0; /* Light text color for contrast */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .glow-text {
    color: #ffffff;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
  }
  