@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
} */
body {
  background-color: #121212; /* Dark background for the entire page */
  color: #e0e0e0; /* Light text color for contrast */
  margin: 0;
  font-family: Arial, sans-serif;
}
.glow-text {
  color: #ffffff;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
}

/* Add this to your global CSS or a relevant stylesheet */
.icon-slide {
  display: inline-block;
  transition: transform 2s ease-in-out;
}

/* Add a hover effect to show the animation */
.icon-slide:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
